<h1 class="hero-title text-center">Activities </h1>
<section class="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
    <%@activities.each do |activity|%>
    <div class="col mb-4">
      <div class="card border-dark h-100">
      <%=image_tag "cricket.jpg", alt: "boy cricket", class: "thumbnail card-img top"%>
        <div class="card-body">
          <h5><%=activity.title%></h5>
          <p class="card-text text-secondary"><%=activity.description%></p>
              
        </div>
      </div>
    </div>

    
    <%end%>
  </div>

</section>
